.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}


.MuiPaper-elevation1 {
  box-shadow: 0px 1px 3px 0px #35818F, 0px 1px 1px 0px #35818E, 0px 2px 1px -1px #35818f !important;
}